CncConvProg.View/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.mecprev.com/services/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MecprevService" />
  <xs:element name="GetLicenseInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="licenseKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="macId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endPreviousLicense" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLicenseInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MecprevService" minOccurs="0" name="GetLicenseInfoResult" nillable="true" type="q1:LicenseInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Rep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="min" type="xs:double" />
        <xs:element minOccurs="0" name="mi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="e" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="l" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>