CncConvProg.View/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MecprevService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MecprevService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LicenseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndLicenseTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncorrectKey" type="xs:boolean" />
      <xs:element minOccurs="0" name="LicenseValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LicenseInfo" nillable="true" type="tns:LicenseInfo" />
</xs:schema>